.product-card{
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
    width: 200px;
}

.product-container{
    display: flex;
    flex-wrap: wrap;
}

.container{
    text-align: center;
}

.pageNumber{
    border: 1px solid black;
    padding: 5px;
    margin: 3px;
    cursor: pointer;
}

.pagination-container{
    margin-bottom: 10px;
}

.pageNumberActive{
    background-color: aqua;
}