.navContainer{
    display: flex;
}

.navItems{
    padding: 5px;
    border: 1px solid black;
    cursor: pointer;
}

.tabBody{
    display: flex;
    border: 1px solid black;
    height: 200px;
    padding: 5px;
}

.error{
    font-size: 12px;
    color: red;
    display: block;
}