.modalContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    align-items:  center;
    top: 0;
    left:0;
}

.backdrop{
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
}

.modalBox {
  background: white;
  width: 400px;
  max-width: 80vw;
  border-radius: 8px;
  overflow: hidden;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.headerbox{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.content{
 padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.focus-highlight{
    outline: 1px solid blue;
    border-radius: 4px;
}
